.hero {
  position: relative;
  aspect-ratio: 16/8;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: var(--spacing-4);
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(57, 58, 53, 0.70); /* Adjust darkness */
  z-index: -1;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  text-align: center;
  padding: var(--spacing-4);
}

.hero__title {
  font-size: var(--font-size-xxl);
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: var(--spacing-3);
  color: white;
}

.hero__btn {
  display: inline-block;
  padding: var(--spacing-2) var(--spacing-4);
  font-size: var(--font-size-md);
  font-weight: 600;
  margin-top: 3rem;
  color: var(--neutral-white);
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--spacing-1);
  text-align: center;
  cursor: pointer;
  transition: var(--transition);
}

.hero__btn:hover {
  background-color: rgb(125, 143, 66);
  transform: scale(1.05);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .hero {
    height: 60vh;
  }

  .hero__title {
    font-size: var(--font-size-xl);
  }

  .hero__btn {
    font-size: var(--font-size-md);
    padding: var(--spacing-2) var(--spacing-3);
  }
}

@media screen and (max-width: 480px) {
  .hero {
    height: 50vh;
  }

  .hero__title {
    font-size: var(--font-size-lg);
  }

  .hero__btn {
    font-size: var(--font-size-sm);
    padding: var(--spacing-1) var(--spacing-2);
  }
}
